.version.index /* version checker */
{
	color: #000019;
	background-color: #17881A;
}

@font-face
{
	font-family: '__Marcellus SC_5';
	src: url('../fonts/marcellus-sc-v4-latin-regular.eot');
	src: local('☺'), url('../fonts/marcellus-sc-v4-latin-regular.woff') format('woff'), url('../fonts/marcellus-sc-v4-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Marcellus_5';
	src: url('../fonts/marcellus-v4-latin-regular.eot');
	src: local('☺'), url('../fonts/marcellus-v4-latin-regular.woff') format('woff'), url('../fonts/marcellus-v4-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

#page
{
	z-index: 1;
	border-color: #000000;
	background-image: none;
	padding-top: 62px;
	border-width: 0px;
	background-color: transparent;
	margin-right: auto;
	width: 100%;
	margin-left: auto;
}

#u201-4
{
	z-index: 4;
	font-weight: 400;
	min-height: 32px;
	text-align: center;
	font-family: '__Marcellus SC_5';
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u194
{
	z-index: 2;
	background-color: transparent;
	position: relative;
}

#u190
{
	width: 100%;
	display: block;
	z-index: 3;
}

#u205-4
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	z-index: 8;
	opacity: 0.9;
	font-weight: 400;
	text-align: center;
	filter: alpha(opacity=90);
	font-family: '__Marcellus_5';
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

.html
{
	background: #FFFFFF url("../images/black%20canvas-01.svg") repeat center center scroll;
	background-size: 500px 500px;
}

.nosvg.html,.nosvg .html
{
	background-image: url('../images/black%20canvas-01_poster_u312.png');
}

body
{
	position: relative;
}

@media (min-width: 641px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 611px;
		padding-bottom: 20px;
		max-width: 960px;
	}

	#u201-4
	{
		font-size: 60px;
		line-height: 72px;
		width: 71.78%;
		margin-left: 14.17%;
	}

	#u194
	{
		margin-top: 49px;
		width: 41.46%;
		margin-left: 29.28%;
	}

	#u205-4
	{
		min-height: 32px;
		font-size: 36px;
		line-height: 43px;
		margin-top: 49px;
		width: 71.78%;
		margin-left: 14.17%;
	}

}

@media (min-width: 481px) and (max-width: 640px)
{
	#muse_css_mq
	{
		background-color: #000280;
	}

	#bp_640.active
	{
		display: block;
	}

	#page
	{
		min-height: 580px;
		padding-bottom: 20px;
		max-width: 640px;
	}

	#u201-4
	{
		font-size: 55px;
		line-height: 66px;
		width: 71.72%;
		margin-left: 14.07%;
	}

	#u194
	{
		margin-top: 39px;
		width: 60.79%;
		margin-left: 19.69%;
	}

	#u205-4
	{
		min-height: 47px;
		font-size: 34px;
		line-height: 41px;
		margin-top: 39px;
		width: 71.72%;
		margin-left: 14.07%;
	}

}

@media (min-width: 379px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 552.5166666666668px;
		padding-bottom: 23.483333333333235px;
		max-width: 480px;
	}

	#u201-4
	{
		font-size: 48px;
		line-height: 58px;
		width: 71.88%;
		margin-left: 14.17%;
	}

	#u194
	{
		margin-top: 40px;
		width: 79.17%;
		margin-left: 10.42%;
	}

	#u205-4
	{
		min-height: 32px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 39px;
		width: 71.88%;
		margin-left: 14.17%;
	}

}

@media (min-width: 321px) and (max-width: 378px)
{
	#muse_css_mq
	{
		background-color: #00017a;
	}

	#bp_378.active
	{
		display: block;
	}

	#page
	{
		min-height: 491px;
		padding-bottom: 20px;
		max-width: 378px;
	}

	#u201-4
	{
		font-size: 48px;
		line-height: 58px;
		width: 71.7%;
		margin-left: 14.03%;
	}

	#u194
	{
		margin-top: 30px;
		width: 87.31%;
		margin-left: 6.35%;
	}

	#u205-4
	{
		min-height: 32px;
		font-size: 22px;
		line-height: 26px;
		margin-top: 41px;
		width: 71.7%;
		margin-left: 14.03%;
	}

}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 390px;
		padding-bottom: 20px;
		max-width: 320px;
	}

	#u201-4
	{
		font-size: 40px;
		line-height: 48px;
		width: 71.88%;
		margin-left: 14.07%;
	}

	#u194
	{
		margin-top: 35px;
		width: 75%;
		margin-left: 12.5%;
	}

	#u205-4
	{
		min-height: 32px;
		font-size: 22px;
		line-height: 26px;
		margin-top: 35px;
		width: 71.88%;
		margin-left: 14.07%;
	}

	body
	{
		min-width: 320px;
	}
}

